# Performance Summary

In [1]:
from os import listdir
from os.path import isfile, join

import pandas as pd
import numpy as np

In [2]:
def ls_begin(begins: str, path: str):
    files = [f for f in listdir(path) if f.startswith(begins)]
    return files

# LSTM: All Days

In [3]:
files = ls_begin("lstm_cuda_iter", "./lstm/")
df_lst = list()
files

['lstm_cuda_iter50_r4.csv',
 'lstm_cuda_iter50_r8_bothDropout_smallEpochs.csv',
 'lstm_cuda_iter50_r1.csv',
 'lstm_cuda_iter50_r7_bothDropout_smallEpochs.csv',
 'lstm_cuda_iter50_r6_bothDropout_smallEpochs.csv',
 'lstm_cuda_iter50_r5_lstmdropout.csv',
 'lstm_cuda_iter190_r9.csv',
 'lstm_cuda_iter10_r2.csv']

In [4]:
for f in files:
    df = pd.read_csv("./lstm/" + f, delimiter="\t", index_col="sample_id")
    df_lst.append(df)

In [5]:
df_lstm = pd.concat(df_lst)

In [6]:
df_lstm = df_lstm.reset_index(drop=True)

In [7]:
df_lstm.shape

(500, 7)

In [8]:
df_lstm.sort_values("val_acc", ascending=False).iloc[:3,:]

,val_mse,val_acc,val_mape,test_mse,test_acc,test_mape,config
198,4.887573,0.544800,101.483440,4.041321,0.540107,99.714196,"{'nn.hidden_size': 128, 'nn.output_size': 1, '..."
374,4.365693,0.540028,108.395207,4.044389,0.454545,100.601912,"{'nn.hidden_size': 64, 'nn.output_size': 1, 'n..."
263,4.744081,0.531601,109.520185,4.045134,0.540107,102.661836,"{'nn.hidden_size': 256, 'nn.output_size': 1, '..."

In [9]:
df_lstm.sort_values("val_mse", ascending=True).iloc[:3,:]

,val_mse,val_acc,val_mape,test_mse,test_acc,test_mape,config
194,3.987698,0.498951,161.506236,3.998627,0.518717,118.924928,"{'nn.hidden_size': 32, 'nn.output_size': 1, 'n..."
177,4.070637,0.499838,101.437843,4.055727,0.491979,99.767995,"{'nn.hidden_size': 128, 'nn.output_size': 1, '..."
163,4.113846,0.498574,104.987335,4.029450,0.588235,98.367268,"{'nn.hidden_size': 32, 'nn.output_size': 1, 'n..."

# Support Vector Regressors
## All Days

In [10]:
df_svr_alldays = pd.read_csv("./svr/svr_result_alldays_500iters.csv")

In [11]:
df_svr_alldays.sort_values("mean_test_dir_acc")

,Unnamed: 0,mean_test_dir_acc,mean_test_mape,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_tol,param_kernel,param_gamma,...,mean_test_mape.1,std_test_mape,rank_test_mape,split0_train_mape,split1_train_mape,split2_train_mape,split3_train_mape,split4_train_mape,mean_train_mape,std_train_mape
499,67,0.476824,440.143703,1.874356,0.333562,0.260004,0.057134,1.000000e+01,rbf,1.000000e-07,...,440.143703,145.744739,2,383.994687,401.163545,535.176645,403.006306,482.748924,441.218021,58.124083
498,143,0.477457,457.461564,1.901405,0.291051,0.254938,0.043888,1.000000e+01,rbf,1.000000e-08,...,457.461564,117.603406,1,480.034244,550.437007,466.670541,399.261422,418.243799,462.929403,52.942549
497,433,0.477457,112.946450,16.701926,0.339883,4.069317,0.077673,1.000000e+00,rbf,1.000000e-10,...,112.946450,9.156995,110,109.756323,117.820614,111.472512,105.794145,123.523022,113.673323,6.268724
467,75,0.478510,120.729537,0.765748,0.078086,0.078741,0.010141,1.000000e+01,rbf,1.000000e+00,...,120.729537,16.504826,56,110.384282,127.026444,109.124158,109.159113,146.701014,120.479002,14.761021
466,292,0.478510,137.885261,0.144330,0.016028,0.011142,0.001597,1.000000e+00,rbf,1.000000e-05,...,137.885261,45.337689,44,109.387767,108.803643,129.392865,110.861737,226.529916,136.995186,45.418395
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,380,0.514327,106.576300,20.909102,0.081416,5.132331,0.055765,1.000000e-03,rbf,1.000000e-01,...,106.576300,7.445306,145,104.364003,103.018046,106.842158,104.693729,105.539780,104.891543,1.269057
164,386,0.514327,106.569628,20.557213,0.188686,4.966749,0.117531,1.000000e-10,rbf,1.000000e-03,...,106.569628,7.454667,148,104.595313,103.381558,107.113161,104.980702,105.918911,105.197929,1.256779
2,319,0.516013,105.113542,10.506137,0.352936,2.381810,0.089035,1.000000e-10,rbf,1.000000e-08,...,105.113542,6.675771,448,102.722768,102.205807,104.074891,104.506514,103.950715,103.492139,0.874692
1,478,0.516645,179.900334,22.640426,0.258478,5.096887,0.021264,1.000000e-06,rbf,1.000000e-07,...,179.900334,49.936332,30,105.273183,99.163145,99.518614,102.547038,105.554263,102.411249,2.720484
0,280,0.516645,179.900321,22.252257,0.192326,5.031004,0.044334,1.000000e-05,rbf,1.000000e-07,...,179.900321,49.936341,31,105.273170,99.163244,99.518538,102.546973,105.554343,102.411254,2.720492

In [12]:
cols = ["mean_test_dir_acc", "mean_test_mape", "mean_test_neg_mse", "params"]

In [13]:
df_svr_alldays.sort_values("mean_test_neg_mse", ascending=False)[cols]

,mean_test_dir_acc,mean_test_mape,mean_test_neg_mse,params
200,0.514327,101.193203,-4.655128,"{'tol': 1, 'kernel': 'rbf', 'gamma': 1e-06, 'e..."
71,0.514327,101.236398,-4.655146,"{'tol': 1, 'kernel': 'rbf', 'gamma': 1e-06, 'e..."
185,0.514327,104.189090,-4.655617,"{'tol': 0.1, 'kernel': 'rbf', 'gamma': 1e-10, ..."
253,0.514327,104.189091,-4.655617,"{'tol': 0.1, 'kernel': 'rbf', 'gamma': 1e-10, ..."
171,0.514327,104.189233,-4.655617,"{'tol': 0.1, 'kernel': 'rbf', 'gamma': 1e-09, ..."
...,...,...,...,...
475,0.478510,379.715897,-5.776965,"{'tol': 10, 'kernel': 'rbf', 'gamma': 1e-08, '..."
471,0.478510,399.209589,-5.896378,"{'tol': 10, 'kernel': 'rbf', 'gamma': 1e-09, '..."
494,0.478510,425.610993,-5.990532,"{'tol': 10, 'kernel': 'rbf', 'gamma': 1e-09, '..."
499,0.476824,440.143703,-6.251937,"{'tol': 10, 'kernel': 'rbf', 'gamma': 1e-07, '..."
498,0.477457,457.461564,-6.514799,"{'tol': 10, 'kernel': 'rbf', 'gamma': 1e-08, '..."

In [14]:
df_svr_alldays.sort_values("mean_test_neg_mse", ascending=False)[cols].iloc[0]["params"]

"{'tol': 1, 'kernel': 'rbf', 'gamma': 1e-06, 'epsilon': 0.001, 'C': 1e-09}"

In [15]:
df_svr_alldays.sort_values("mean_test_dir_acc", ascending=False)[cols][:5]

,mean_test_dir_acc,mean_test_mape,mean_test_neg_mse,params
0,0.516645,179.900321,-4.829578,"{'tol': 1e-05, 'kernel': 'rbf', 'gamma': 1e-07..."
1,0.516645,179.900334,-4.829578,"{'tol': 1e-06, 'kernel': 'rbf', 'gamma': 1e-07..."
2,0.516013,105.113542,-4.656569,"{'tol': 1e-10, 'kernel': 'rbf', 'gamma': 1e-08..."
230,0.514327,106.054650,-4.656274,"{'tol': 0.0001, 'kernel': 'rbf', 'gamma': 0.01..."
238,0.514327,105.178085,-4.656799,"{'tol': 0.0001, 'kernel': 'rbf', 'gamma': 1e-0..."

In [16]:
df_svr_alldays.sort_values("mean_test_dir_acc", ascending=False)[cols].iloc[0]["params"]

"{'tol': 1e-05, 'kernel': 'rbf', 'gamma': 1e-07, 'epsilon': 1e-07, 'C': 10}"

## Monday Only

In [17]:
df_svr_mon = pd.read_csv("./svr/svr_result_mondays_500iters.csv")

In [18]:
df_svr_mon.sort_values("mean_test_neg_mse", ascending=False)[cols][:3]

,mean_test_dir_acc,mean_test_mape,mean_test_neg_mse,params
87,0.529836,119.665930,-0.658670,"{'tol': 0.001, 'kernel': 'rbf', 'gamma': 1e-10..."
285,0.529836,119.592281,-0.658672,"{'tol': 1e-09, 'kernel': 'rbf', 'gamma': 1e-10..."
394,0.529836,119.597506,-0.658678,"{'tol': 1e-10, 'kernel': 'rbf', 'gamma': 1e-09..."

In [19]:
df_svr_mon.sort_values("mean_test_neg_mse", ascending=False).iloc[0]["params"]

"{'tol': 0.001, 'kernel': 'rbf', 'gamma': 1e-10, 'epsilon': 0.0001, 'C': 10}"

In [20]:
df_svr_mon.sort_values("mean_test_dir_acc", ascending=False)[cols][:5]

,mean_test_dir_acc,mean_test_mape,mean_test_neg_mse,params
0,0.548873,184.468247,-0.680701,"{'tol': 0.1, 'kernel': 'rbf', 'gamma': 1e-06, ..."
1,0.547807,134.553913,-0.659306,"{'tol': 1e-08, 'kernel': 'rbf', 'gamma': 1e-06..."
2,0.547807,134.560322,-0.659309,"{'tol': 0.001, 'kernel': 'rbf', 'gamma': 1e-06..."
3,0.547743,183.588555,-0.680685,"{'tol': 0.01, 'kernel': 'rbf', 'gamma': 1e-06,..."
4,0.546683,134.558194,-0.659304,"{'tol': 0.0001, 'kernel': 'rbf', 'gamma': 1e-0..."

In [21]:
df_svr_mon.sort_values("mean_test_dir_acc", ascending=False).iloc[0]["params"]

"{'tol': 0.1, 'kernel': 'rbf', 'gamma': 1e-06, 'epsilon': 1e-06, 'C': 1}"

## Other days

In [22]:
df_svr_ot = pd.read_csv("./svr/svr_result_otherdays_500iters.csv")

In [23]:
df_svr_ot.sort_values("mean_test_neg_mse", ascending=False)[cols][:5]

,mean_test_dir_acc,mean_test_mape,mean_test_neg_mse,params
200,0.526049,101.764109,-5.575256,"{'tol': 0.1, 'kernel': 'rbf', 'gamma': 0.1, 'e..."
249,0.526049,101.743552,-5.575259,"{'tol': 1e-07, 'kernel': 'rbf', 'gamma': 0.000..."
317,0.526049,101.743552,-5.575259,"{'tol': 1e-09, 'kernel': 'rbf', 'gamma': 0.000..."
327,0.526049,101.743589,-5.575259,"{'tol': 1e-10, 'kernel': 'rbf', 'gamma': 0.001..."
361,0.526049,101.743589,-5.575259,"{'tol': 0.0001, 'kernel': 'rbf', 'gamma': 0.01..."

In [24]:
df_svr_ot.sort_values("mean_test_neg_mse", ascending=False).iloc[0]["params"]

"{'tol': 0.1, 'kernel': 'rbf', 'gamma': 0.1, 'epsilon': 0.0001, 'C': 10}"

In [25]:
df_svr_ot.sort_values("mean_test_dir_acc", ascending=False)[cols][:5]

,mean_test_dir_acc,mean_test_mape,mean_test_neg_mse,params
0,0.526308,108.152054,-5.583114,"{'tol': 0.1, 'kernel': 'rbf', 'gamma': 1e-09, ..."
1,0.526308,108.190645,-5.582774,"{'tol': 0.1, 'kernel': 'rbf', 'gamma': 1e-09, ..."
245,0.526049,103.549236,-5.576581,"{'tol': 0.0001, 'kernel': 'rbf', 'gamma': 1e-0..."
254,0.526049,108.574260,-5.580799,"{'tol': 1e-07, 'kernel': 'rbf', 'gamma': 1e-06..."
253,0.526049,108.594834,-5.580975,"{'tol': 0.001, 'kernel': 'rbf', 'gamma': 0.01,..."

In [26]:
df_svr_ot.sort_values("mean_test_dir_acc", ascending=False).iloc[0]["params"]

"{'tol': 0.1, 'kernel': 'rbf', 'gamma': 1e-09, 'epsilon': 1e-07, 'C': 1}"

# Random Forests

In [27]:
df_rf_alldays = pd.read_csv("./rf/rf_result_alldays_500iters.csv")
df_rf_mon = pd.read_csv("./rf/rf_result_monday_500iters.csv")
df_rf_ot = pd.read_csv("./rf/rf_result_otherdays_500iters.csv")
print(df_rf_alldays.shape)
print(df_rf_mon.shape)
print(df_rf_ot.shape)

(500, 58)
(500, 58)
(500, 58)

## All Days

In [41]:
df_rf_alldays.sort_values("mean_test_neg_mse", ascending=False)[cols][:3]

,mean_test_dir_acc,mean_test_mape,mean_test_neg_mse,params
98,0.504636,115.689643,-4.674843,"{'n_estimators': 96, 'min_samples_split': 10, ..."
181,0.502316,136.047397,-4.676884,"{'n_estimators': 144, 'min_samples_split': 10,..."
269,0.499158,127.176623,-4.688437,"{'n_estimators': 153, 'min_samples_split': 5, ..."

In [29]:
df_rf_alldays.sort_values("mean_test_neg_mse", ascending=False)[cols].iloc[0]["params"]

"{'n_estimators': 96, 'min_samples_split': 10, 'min_samples_leaf': 2, 'max_features': 'log2', 'max_depth': 10, 'bootstrap': True}"

In [30]:
df_rf_alldays.sort_values("mean_test_dir_acc", ascending=False)[cols][:5]

,mean_test_dir_acc,mean_test_mape,mean_test_neg_mse,params
0,0.519597,134.105401,-5.723220,"{'n_estimators': 98, 'min_samples_split': 5, '..."
2,0.519597,134.129649,-5.716409,"{'n_estimators': 41, 'min_samples_split': 5, '..."
1,0.519597,134.103974,-5.722941,"{'n_estimators': 179, 'min_samples_split': 5, ..."
3,0.519386,133.866306,-5.677556,"{'n_estimators': 173, 'min_samples_split': 10,..."
4,0.516858,124.166544,-5.400390,"{'n_estimators': 99, 'min_samples_split': 10, ..."

In [31]:
df_rf_alldays.sort_values("mean_test_dir_acc", ascending=False)[cols].iloc[1]["params"]

"{'n_estimators': 41, 'min_samples_split': 5, 'min_samples_leaf': 4, 'max_features': None, 'max_depth': 14, 'bootstrap': False}"

## Mondays

In [32]:
df_rf_mon.sort_values("mean_test_neg_mse", ascending=False)[cols][:3]

,mean_test_dir_acc,mean_test_mape,mean_test_neg_mse,params
8,0.555742,131.363527,-0.655081,"{'n_estimators': 115, 'min_samples_split': 10,..."
46,0.543312,144.342435,-0.658013,"{'n_estimators': 100, 'min_samples_split': 5, ..."
10,0.553425,145.247175,-0.658121,"{'n_estimators': 173, 'min_samples_split': 5, ..."

In [33]:
df_rf_mon.sort_values("mean_test_neg_mse", ascending=False)[cols].iloc[0]["params"]

"{'n_estimators': 115, 'min_samples_split': 10, 'min_samples_leaf': 4, 'max_features': 'log2', 'max_depth': 38, 'bootstrap': True}"

In [34]:
df_rf_mon.sort_values("mean_test_dir_acc", ascending=False)[cols][:3]

,mean_test_dir_acc,mean_test_mape,mean_test_neg_mse,params
0,0.564610,172.505590,-0.672281,"{'n_estimators': 116, 'min_samples_split': 2, ..."
1,0.561296,136.350880,-0.659862,"{'n_estimators': 103, 'min_samples_split': 5, ..."
2,0.561284,159.571976,-0.677007,"{'n_estimators': 196, 'min_samples_split': 2, ..."

In [35]:
df_rf_mon.sort_values("mean_test_dir_acc", ascending=False)[cols].iloc[0]["params"]

"{'n_estimators': 116, 'min_samples_split': 2, 'min_samples_leaf': 1, 'max_features': 'log2', 'max_depth': 38, 'bootstrap': False}"

## Other Days

In [36]:
df_rf_ot.sort_values("mean_test_neg_mse", ascending=False)[cols][:3]

,mean_test_dir_acc,mean_test_mape,mean_test_neg_mse,params
27,0.509973,113.606213,-5.605507,"{'n_estimators': 88, 'min_samples_split': 5, '..."
376,0.493901,112.531724,-5.615080,"{'n_estimators': 165, 'min_samples_split': 10,..."
317,0.496237,116.704922,-5.620667,"{'n_estimators': 153, 'min_samples_split': 2, ..."

In [37]:
df_rf_ot.sort_values("mean_test_neg_mse", ascending=False).iloc[0]["params"]

"{'n_estimators': 88, 'min_samples_split': 5, 'min_samples_leaf': 4, 'max_features': 'log2', 'max_depth': 10, 'bootstrap': True}"

In [38]:
df_rf_ot.sort_values("mean_test_dir_acc", ascending=False)[cols][:3]

,mean_test_dir_acc,mean_test_mape,mean_test_neg_mse,params
0,0.524492,150.783476,-6.844292,"{'n_estimators': 157, 'min_samples_split': 2, ..."
1,0.524492,140.479254,-6.531942,"{'n_estimators': 122, 'min_samples_split': 10,..."
2,0.523973,150.699842,-6.858314,"{'n_estimators': 66, 'min_samples_split': 2, '..."

In [39]:
df_rf_ot.sort_values("mean_test_dir_acc", ascending=False).iloc[0]["params"]

"{'n_estimators': 157, 'min_samples_split': 2, 'min_samples_leaf': 1, 'max_features': None, 'max_depth': 10, 'bootstrap': False}"