# Performance Summary

In [1]:
from os import listdir
from os.path import isfile, join

import pandas as pd
import numpy as np

In [2]:
def ls_begin(begins: str):
    files = [f for f in listdir("./") if f.startswith(begins)]
    return files

# LSTM: All Days

In [15]:
files = ls_begin("lstm_cuda_iter")
df_lst = list()
files

['lstm_cuda_iter50_r4.csv',
 'lstm_cuda_iter50_r8_bothDropout_smallEpochs.csv',
 'lstm_cuda_iter50_r1.csv',
 'lstm_cuda_iter50_r7_bothDropout_smallEpochs.csv',
 'lstm_cuda_iter50_r6_bothDropout_smallEpochs.csv',
 'lstm_cuda_iter50_r5_lstmdropout.csv',
 'lstm_cuda_iter10_r2.csv']

In [16]:
for f in files:
    df = pd.read_csv("./" + f, delimiter="\t", index_col="sample_id")
    df_lst.append(df)

In [17]:
df_lstm = pd.concat(df_lst)

In [18]:
df_lstm = df.reset_index(drop=True)

In [19]:
df_lstm.sort_values("val_acc", ascending=False)

,val_mse,val_acc,val_mape,test_mse,test_acc,test_mape,config
9,4.558246,0.526685,101.705503,4.040843,0.540107,99.030298,"{'nn.hidden_size': 128, 'nn.output_size': 1, '..."
1,4.843786,0.501191,106.909788,4.030873,0.524064,104.698515,"{'nn.hidden_size': 128, 'nn.output_size': 1, '..."
7,4.553651,0.499404,172.015834,4.181479,0.459893,136.906862,"{'nn.hidden_size': 64, 'nn.output_size': 1, 'n..."
8,5.374945,0.497593,264.318132,4.567550,0.529412,211.703825,"{'nn.hidden_size': 512, 'nn.output_size': 1, '..."
6,7.914030,0.496779,425.397778,6.003628,0.508021,302.567530,"{'nn.hidden_size': 256, 'nn.output_size': 1, '..."
0,4.725764,0.496063,134.617388,4.143723,0.524064,116.810620,"{'nn.hidden_size': 128, 'nn.output_size': 1, '..."
5,4.659310,0.495203,179.582310,4.373381,0.486631,130.527055,"{'nn.hidden_size': 64, 'nn.output_size': 1, 'n..."
2,12.094741,0.494374,748.832178,10.725709,0.529412,650.251913,"{'nn.hidden_size': 1024, 'nn.output_size': 1, ..."
3,5.053407,0.494119,140.260446,4.142604,0.486631,113.164604,"{'nn.hidden_size': 128, 'nn.output_size': 1, '..."
4,6.344360,0.492640,368.088007,4.993023,0.497326,301.354599,"{'nn.hidden_size': 128, 'nn.output_size': 1, '..."

In [20]:
df_lstm.sort_values("val_mse", ascending=True)

,val_mse,val_acc,val_mape,test_mse,test_acc,test_mape,config
7,4.553651,0.499404,172.015834,4.181479,0.459893,136.906862,"{'nn.hidden_size': 64, 'nn.output_size': 1, 'n..."
9,4.558246,0.526685,101.705503,4.040843,0.540107,99.030298,"{'nn.hidden_size': 128, 'nn.output_size': 1, '..."
5,4.659310,0.495203,179.582310,4.373381,0.486631,130.527055,"{'nn.hidden_size': 64, 'nn.output_size': 1, 'n..."
0,4.725764,0.496063,134.617388,4.143723,0.524064,116.810620,"{'nn.hidden_size': 128, 'nn.output_size': 1, '..."
1,4.843786,0.501191,106.909788,4.030873,0.524064,104.698515,"{'nn.hidden_size': 128, 'nn.output_size': 1, '..."
3,5.053407,0.494119,140.260446,4.142604,0.486631,113.164604,"{'nn.hidden_size': 128, 'nn.output_size': 1, '..."
8,5.374945,0.497593,264.318132,4.567550,0.529412,211.703825,"{'nn.hidden_size': 512, 'nn.output_size': 1, '..."
4,6.344360,0.492640,368.088007,4.993023,0.497326,301.354599,"{'nn.hidden_size': 128, 'nn.output_size': 1, '..."
6,7.914030,0.496779,425.397778,6.003628,0.508021,302.567530,"{'nn.hidden_size': 256, 'nn.output_size': 1, '..."
2,12.094741,0.494374,748.832178,10.725709,0.529412,650.251913,"{'nn.hidden_size': 1024, 'nn.output_size': 1, ..."

# Random Forests
## All Days