# Performance Summary

In [1]:
from os import listdir
from os.path import isfile, join

import pandas as pd
import numpy as np

In [2]:
def ls_begin(begins: str, path: str):
    files = [f for f in listdir(path) if f.startswith(begins)]
    return files

# LSTM: All Days

In [3]:
files = ls_begin("lstm_cuda_iter", "./lstm/")
df_lst = list()
files

['lstm_cuda_iter50_r4.csv',
 'lstm_cuda_iter50_r8_bothDropout_smallEpochs.csv',
 'lstm_cuda_iter50_r1.csv',
 'lstm_cuda_iter50_r7_bothDropout_smallEpochs.csv',
 'lstm_cuda_iter50_r6_bothDropout_smallEpochs.csv',
 'lstm_cuda_iter50_r5_lstmdropout.csv',
 'lstm_cuda_iter10_r2.csv']

In [4]:
for f in files:
    df = pd.read_csv("./lstm/" + f, delimiter="\t", index_col="sample_id")
    df_lst.append(df)

In [5]:
df_lstm = pd.concat(df_lst)

In [6]:
df_lstm = df_lstm.reset_index(drop=True)

In [7]:
df_lstm.shape

(310, 7)

In [8]:
df_lstm.sort_values("val_acc", ascending=False).iloc[:3,:]

,val_mse,val_acc,val_mape,test_mse,test_acc,test_mape,config
198,4.887573,0.544800,101.483440,4.041321,0.540107,99.714196,"{'nn.hidden_size': 128, 'nn.output_size': 1, '..."
263,4.744081,0.531601,109.520185,4.045134,0.540107,102.661836,"{'nn.hidden_size': 256, 'nn.output_size': 1, '..."
8,4.707700,0.527155,110.271454,4.045426,0.524064,98.789734,"{'nn.hidden_size': 32, 'nn.output_size': 1, 'n..."

In [9]:
df_lstm.sort_values("val_mse", ascending=True).iloc[:3,:]

,val_mse,val_acc,val_mape,test_mse,test_acc,test_mape,config
194,3.987698,0.498951,161.506236,3.998627,0.518717,118.924928,"{'nn.hidden_size': 32, 'nn.output_size': 1, 'n..."
177,4.070637,0.499838,101.437843,4.055727,0.491979,99.767995,"{'nn.hidden_size': 128, 'nn.output_size': 1, '..."
163,4.113846,0.498574,104.987335,4.029450,0.588235,98.367268,"{'nn.hidden_size': 32, 'nn.output_size': 1, 'n..."

# Support Vector Regressors
## All Days

In [10]:
df_svr_alldays = pd.read_csv("./svr/svr_result_alldays_500iters.csv")

In [11]:
df_svr_alldays.sort_values("mean_test_dir_acc")

,Unnamed: 0,mean_test_dir_acc,mean_test_mape,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_tol,param_kernel,param_gamma,...,mean_test_mape.1,std_test_mape,rank_test_mape,split0_train_mape,split1_train_mape,split2_train_mape,split3_train_mape,split4_train_mape,mean_train_mape,std_train_mape
499,67,0.476824,440.143703,1.874356,0.333562,0.260004,0.057134,1.000000e+01,rbf,1.000000e-07,...,440.143703,145.744739,2,383.994687,401.163545,535.176645,403.006306,482.748924,441.218021,58.124083
498,143,0.477457,457.461564,1.901405,0.291051,0.254938,0.043888,1.000000e+01,rbf,1.000000e-08,...,457.461564,117.603406,1,480.034244,550.437007,466.670541,399.261422,418.243799,462.929403,52.942549
497,433,0.477457,112.946450,16.701926,0.339883,4.069317,0.077673,1.000000e+00,rbf,1.000000e-10,...,112.946450,9.156995,110,109.756323,117.820614,111.472512,105.794145,123.523022,113.673323,6.268724
467,75,0.478510,120.729537,0.765748,0.078086,0.078741,0.010141,1.000000e+01,rbf,1.000000e+00,...,120.729537,16.504826,56,110.384282,127.026444,109.124158,109.159113,146.701014,120.479002,14.761021
466,292,0.478510,137.885261,0.144330,0.016028,0.011142,0.001597,1.000000e+00,rbf,1.000000e-05,...,137.885261,45.337689,44,109.387767,108.803643,129.392865,110.861737,226.529916,136.995186,45.418395
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,380,0.514327,106.576300,20.909102,0.081416,5.132331,0.055765,1.000000e-03,rbf,1.000000e-01,...,106.576300,7.445306,145,104.364003,103.018046,106.842158,104.693729,105.539780,104.891543,1.269057
164,386,0.514327,106.569628,20.557213,0.188686,4.966749,0.117531,1.000000e-10,rbf,1.000000e-03,...,106.569628,7.454667,148,104.595313,103.381558,107.113161,104.980702,105.918911,105.197929,1.256779
2,319,0.516013,105.113542,10.506137,0.352936,2.381810,0.089035,1.000000e-10,rbf,1.000000e-08,...,105.113542,6.675771,448,102.722768,102.205807,104.074891,104.506514,103.950715,103.492139,0.874692
1,478,0.516645,179.900334,22.640426,0.258478,5.096887,0.021264,1.000000e-06,rbf,1.000000e-07,...,179.900334,49.936332,30,105.273183,99.163145,99.518614,102.547038,105.554263,102.411249,2.720484
0,280,0.516645,179.900321,22.252257,0.192326,5.031004,0.044334,1.000000e-05,rbf,1.000000e-07,...,179.900321,49.936341,31,105.273170,99.163244,99.518538,102.546973,105.554343,102.411254,2.720492

In [30]:
cols = ["mean_test_dir_acc", "mean_test_mape", "mean_test_neg_mse", "params"]

In [33]:
df_svr_alldays.sort_values("mean_test_neg_mse", ascending=False)[cols]

,mean_test_dir_acc,mean_test_mape,mean_test_neg_mse,params
200,0.514327,101.193203,-4.655128,"{'tol': 1, 'kernel': 'rbf', 'gamma': 1e-06, 'e..."
71,0.514327,101.236398,-4.655146,"{'tol': 1, 'kernel': 'rbf', 'gamma': 1e-06, 'e..."
185,0.514327,104.189090,-4.655617,"{'tol': 0.1, 'kernel': 'rbf', 'gamma': 1e-10, ..."
253,0.514327,104.189091,-4.655617,"{'tol': 0.1, 'kernel': 'rbf', 'gamma': 1e-10, ..."
171,0.514327,104.189233,-4.655617,"{'tol': 0.1, 'kernel': 'rbf', 'gamma': 1e-09, ..."
...,...,...,...,...
475,0.478510,379.715897,-5.776965,"{'tol': 10, 'kernel': 'rbf', 'gamma': 1e-08, '..."
471,0.478510,399.209589,-5.896378,"{'tol': 10, 'kernel': 'rbf', 'gamma': 1e-09, '..."
494,0.478510,425.610993,-5.990532,"{'tol': 10, 'kernel': 'rbf', 'gamma': 1e-09, '..."
499,0.476824,440.143703,-6.251937,"{'tol': 10, 'kernel': 'rbf', 'gamma': 1e-07, '..."
498,0.477457,457.461564,-6.514799,"{'tol': 10, 'kernel': 'rbf', 'gamma': 1e-08, '..."

In [43]:
df_svr_alldays.sort_values("mean_test_neg_mse", ascending=False)[cols].iloc[0]["params"]

"{'tol': 1, 'kernel': 'rbf', 'gamma': 1e-06, 'epsilon': 0.001, 'C': 1e-09}"

In [14]:
df_svr_alldays.sort_values("mean_test_dir_acc", ascending=False)[cols][:5]

     mean_test_dir_acc  mean_test_mape  mean_test_neg_mse
0             0.516645      179.900321          -4.829578
1             0.516645      179.900334          -4.829578
2             0.516013      105.113542          -4.656569
230           0.514327      106.054650          -4.656274
238           0.514327      105.178085          -4.656799

In [46]:
df_svr_alldays.sort_values("mean_test_dir_acc", ascending=False)[cols].iloc[0]["params"]

"{'tol': 1e-05, 'kernel': 'rbf', 'gamma': 1e-07, 'epsilon': 1e-07, 'C': 10}"

## Monday Only

In [15]:
df_svr_mon = pd.read_csv("./svr/svr_result_mondays_500iters.csv")

In [16]:
df_svr_mon.sort_values("mean_test_neg_mse", ascending=False)[cols][:5]

     mean_test_dir_acc  mean_test_mape  mean_test_neg_mse
87            0.529836      119.665930          -0.658670
285           0.529836      119.592281          -0.658672
394           0.529836      119.597506          -0.658678
50            0.529836      119.661878          -0.658738
11            0.538824      118.722401          -0.658864

In [17]:
df_svr_mon.sort_values("mean_test_dir_acc", ascending=False)[cols][:5]

   mean_test_dir_acc  mean_test_mape  mean_test_neg_mse
0           0.548873      184.468247          -0.680701
1           0.547807      134.553913          -0.659306
2           0.547807      134.560322          -0.659309
3           0.547743      183.588555          -0.680685
4           0.546683      134.558194          -0.659304

## Other days

In [18]:
df_svr_ot = pd.read_csv("./svr/svr_result_otherdays_500iters.csv")

In [19]:
df_svr_ot.sort_values("mean_test_neg_mse", ascending=False)[cols][:5]

     mean_test_dir_acc  mean_test_mape  mean_test_neg_mse
200           0.526049      101.764109          -5.575256
249           0.526049      101.743552          -5.575259
317           0.526049      101.743552          -5.575259
327           0.526049      101.743589          -5.575259
361           0.526049      101.743589          -5.575259

In [20]:
df_svr_ot.sort_values("mean_test_dir_acc", ascending=False)[cols][:5]

     mean_test_dir_acc  mean_test_mape  mean_test_neg_mse
0             0.526308      108.152054          -5.583114
1             0.526308      108.190645          -5.582774
245           0.526049      103.549236          -5.576581
254           0.526049      108.574260          -5.580799
253           0.526049      108.594834          -5.580975

# Random Forests

In [21]:
df_rf_alldays = pd.read_csv("./rf/rf_result_alldays_500iters.csv")
df_rf_mon = pd.read_csv("./rf/rf_result_monday_500iters.csv")
df_rf_ot = pd.read_csv("./rf/rf_result_otherdays_500iters.csv")
print(df_rf_alldays.shape)
print(df_rf_mon.shape)
print(df_rf_ot.shape)

(500, 58)
(500, 58)
(500, 58)

## All Days

In [22]:
df_rf_alldays.sort_values("mean_test_neg_mse", ascending=False)[cols][:3]

     mean_test_dir_acc  mean_test_mape  mean_test_neg_mse
98            0.504636      115.689643          -4.674843
181           0.502316      136.047397          -4.676884
269           0.499158      127.176623          -4.688437

In [27]:
df_rf_alldays.sort_values("mean_test_neg_mse", ascending=False).iloc[0]

Unnamed: 0                                                                91
mean_test_dir_acc                                                   0.504636
mean_test_mape                                                        115.69
mean_fit_time                                                        1.67972
std_fit_time                                                       0.0192522
mean_score_time                                                    0.0197174
std_score_time                                                   0.000465958
param_n_estimators                                                        96
param_min_samples_split                                                   10
param_min_samples_leaf                                                     2
param_max_features                                                      log2
param_max_depth                                                           10
param_bootstrap                                                         True
params                     {'n_estimators': 96, 'min_samples_split': 10, ...
split0_test_neg_mse                                                 -5.73928
split1_test_neg_mse                                                  -3.4002
split2_test_neg_mse                                                 -6.77731
split3_test_neg_mse                                                 -2.71026
split4_test_neg_mse                                                 -4.74717
mean_test_neg_mse                                                   -4.67484
std_test_neg_mse                                                     1.48613
rank_test_neg_mse                                                          1
split0_train_neg_mse                                                -3.40137
split1_train_neg_mse                                                -4.00258
split2_train_neg_mse                                                -3.19682
split3_train_neg_mse                                                 -4.0153
split4_train_neg_mse                                                -3.61768
mean_train_neg_mse                                                  -3.64675
std_train_neg_mse                                                   0.324328
split0_test_dir_acc                                                 0.503158
split1_test_dir_acc                                                 0.517387
split2_test_dir_acc                                                 0.494204
split3_test_dir_acc                                                 0.514226
split4_test_dir_acc                                                 0.494204
std_test_dir_acc                                                  0.00974022
rank_test_dir_acc                                                         99
split0_train_dir_acc                                                0.734194
split1_train_dir_acc                                                0.728206
split2_train_dir_acc                                                0.747432
split3_train_dir_acc                                                0.728733
split4_train_dir_acc                                                0.722149
mean_train_dir_acc                                                  0.732143
std_train_dir_acc                                                 0.00854362
split0_test_mape                                                     108.865
split1_test_mape                                                     103.167
split2_test_mape                                                     107.666
split3_test_mape                                                     136.134
split4_test_mape                                                     122.616
mean_test_mape.1                                                      115.69
std_test_mape                                                        12.1138
rank_test_mape                                                           495
split0_train_mape                                                    99.7285
split1_train_mape                                                    100.776
split2_train_mape                                                     99.619
split3_train_mape                                                     98.892
split4_train_mape                                                    101.729
mean_train_mape                                                      100.149
std_train_mape                                                      0.992767
Name: 98, dtype: object

In [23]:
df_rf_alldays.sort_values("mean_test_dir_acc", ascending=False)[cols][:3]

   mean_test_dir_acc  mean_test_mape  mean_test_neg_mse
0           0.519597      134.105401          -5.723220
2           0.519597      134.129649          -5.716409
1           0.519597      134.103974          -5.722941

## Mondays

In [24]:
df_rf_mon.sort_values("mean_test_neg_mse", ascending=False)[cols][:3]

    mean_test_dir_acc  mean_test_mape  mean_test_neg_mse
8            0.555742      131.363527          -0.655081
46           0.543312      144.342435          -0.658013
10           0.553425      145.247175          -0.658121

In [25]:
df_rf_mon.sort_values("mean_test_dir_acc", ascending=False)[cols][:3]

   mean_test_dir_acc  mean_test_mape  mean_test_neg_mse
0           0.564610      172.505590          -0.672281
1           0.561296      136.350880          -0.659862
2           0.561284      159.571976          -0.677007

## Other Days

In [49]:
df_rf_ot.sort_values("mean_test_neg_mse", ascending=False)[cols][:3]

     mean_test_dir_acc  mean_test_mape  mean_test_neg_mse
27            0.509973      113.606213          -5.605507
376           0.493901      112.531724          -5.615080
317           0.496237      116.704922          -5.620667

In [50]:
df_rf_ot.sort_values("mean_test_dir_acc", ascending=False)[cols][:3]

   mean_test_dir_acc  mean_test_mape  mean_test_neg_mse
0           0.524492      150.783476          -6.844292
1           0.524492      140.479254          -6.531942
2           0.523973      150.699842          -6.858314